$primary_1: #a2b9bc;
$primary_2: #ff1818;
$primary_3: #687d80;
$primary_3_faded: rgba(104, 125, 128, 0.2);
$default: #fff;
$text_color: #12131f;
$text_color_faded: rgba(18, 19, 31, 0.6);
@use 'mediaQueries.modules.scss';


@mixin link {
    text: {
      decoration: none;
      transform: capitalize;
    }
    color: $primary_2;
    font: {
      size: medium;
    }
   }

   .blend{
    height: 2px;
    background-image: linear-gradient($primary_1, $default);
   }
.Login-page{
    width: 100%;
    min-height: calc( 100vh - 75px - 2px - 200px );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
        bottom: 100px;
        top: 100px;
    } 
    
    // background-color: $default;
    
    .form-container{
        width: 35%;
        background-color: $primary_1;
        box-shadow: 2px 2px 15px 5px $primary_3;
        border-radius: 5px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        @include mediaQueries.for-tablet-landscape-up{
            width: 50%;
        }
        @include mediaQueries.for-phone-only{
            width: 85%;
        }
        h2{
            position: relative;
            top: 10px;
            color: $text_color;
        }
        .green{
            color: green;
            font-size: small;
        }
        .red{
            color: #ff1818;
            font-size: small;
        }
        form{
            width: 100%;
            height: 80%;
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;
            >div{
                width: 90%;
                display: inherit;
                justify-content: center;
                position: relative;
                input, button{
                    width: 100%;
                    height: 35px;
                    border: 1px solid $text_color_faded;
                    border-radius: 5px;
                    // color: white;
                }
                input::placeholder{
                    color: $text_color;
                }
            }
            .input-field{
                position: relative;
                top: 40px;
                display: flex;
                align-items: center;
                :focus{
                    outline: #ff1818;
                    border: 1px solid $primary_2;
                }
                .icon{
                    position: absolute;
                    left: 10px;
                }
                input{
                    padding-left: 30px;
                    background-color: $primary_3_faded;
                }
            }
            .input-field:first-child{
                margin-bottom: 20px;
            }
            .input-field:first-child [placeholder]{
                        // color: white;
                    }
            .form-submit{
                position: relative;
                bottom: -100px;
                button{
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary_3;
                    .icon{
                        font: {
                            size: large;
                        }
                    }
                    .myLoader{
                        background: linear-gradient(#687d80, #687d80) padding-box,
                                    linear-gradient(gray 60%, rgb(0, 194, 253)) border-box;
                                    animation: spin 1s infinite ease-in;
                                    @keyframes spin {
                                        0% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(0deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        15% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(45deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        30% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(90deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        45% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(135deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        60% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(180deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        75% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(225deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        90% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(270deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                        100% {
                                            background: linear-gradient(#687d80, #687d80) padding-box,
                                                linear-gradient(315deg, grey 60%, rgb(0, 194, 253)) border-box;
                                        }
                                    }
                    }
                }
            }
            .sign_up_link{
                position: relative;
                bottom: -110px;
                a{
                @include link()
            }
            }
            
            
            

            

        }
}
}
